<div *ngIf="pedidos != null else vacio">
    <div class="responsive" *ngFor="let item of pedidos">
        <div class="gallery">
            <a target="_blank" href={{item}}>
                <img src="{{imagen}}" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">{{item.nombre}}</div>
            <div class="desc">{{item.precio}}</div>
            <div class="desc">{{item.categoria}}</div>
            <div class="desc">{{totalPrecio()}}</div>
            <div class="desc">
                <button mat-flat-button color="primary" (click)="openDialog()">Confirmar pedido</button>
            </div>
        </div>
    </div>
</div>
<ng-template #vacio>
    <p>No se han agregado productos al carrito</p>
</ng-template>