<div class="mat-parent">
    <p>
        <mat-toolbar class="title-component">
            <span>Reporte de platillos vendidos</span>

        </mat-toolbar>
    </p>
    <div class="body-component">
        <div style="border: 1px solid rgba(0,0,0,.2);" class="carousel-item " style="display: flex; width: 80%;">

            <div class="container">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Producto</mat-label>
                        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="itemSelected($event)">
                            <mat-option *ngFor="let option of filteredProductOptions | async" [value]="option">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Categoria</mat-label>
                        <mat-select [(value)]="searchSalesDTO.categoryId">
                            <mat-option *ngFor="let category of categoryProductList" value={{category.id}}>
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Fecha inicio</mat-label>
                        <input matInput [matDatepicker]="picker1" [value]="searchSalesDTO.initDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Fecha final</mat-label>
                        <input matInput [matDatepicker]="picker2" [value]="searchSalesDTO.finalDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="search()">Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="resultSalesList.length>0" style="display: flex; width: 100%;">

        <div class="body-component">
            <mat-table *ngIf="resultSalesList.length>0" [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> N° </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.index}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="productName">

                    <mat-header-cell *matHeaderCellDef mat-sort-header> Product </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.productName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="categoryName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.categoryName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Precio Unitario </mat-header-cell>
                    <mat-cell *matCellDef="let row">S/. {{row.price}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="countSales">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Vendida </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.countSales}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="sumSales">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Suma Total </mat-header-cell>
                    <mat-cell *matCellDef="let row"> S/. {{row.sumSales}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>


</div>