.example-form {
    min-width: 100px;
    max-width: 250px;
    width: 100%;
}

.example-full-width {
    width: 100%;
    padding-right: 25px;
}

.title-component {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    margin-top: 0px;
    padding-top: 0px;
    width: 80%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.data-item {
    margin: auto;
    background-color: grey;
}

.body-component {
    display: block;
    box-sizing: border-box;
    padding: 0 16px;
    margin-top: 0px;
    padding-top: 0px;
    width: 80%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background-color: #ffff;
}