.container-card-big {
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    flex-direction: column;
    margin-top: 10%;
}

mat-card {
    width: 80%;
    // height: 600px;
    border: 0;
    flex-direction: column;
    display: flex;
    border-radius: .125rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}

.card-top {
    width: 50%;
    height: auto;
    padding: 1.5 rem;
    margin: -2rem 1rem 1rem 1rem;
    text-align: center;
    border: 0;
    border-radius: .125rem;
    background-color: darkorange !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -40px;
    z-index: 100;
}

.contact-header {
    display: flex;
    color: aliceblue;
    font-size: 16px;
    margin-right: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center
}

.close {
    color: #fff;
    text-shadow: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    margin-right: 0rem;
    cursor: pointer;
}

.contact-header p {
    padding: 0px 43px;
    text-align: center;
    justify-content: center;
    display: flex;
    //margin-bottom: 2px;
}

.mat-stepper-horizontal {
    margin-top: 40px !important;
}

.mat-form-field {
    margin: 20px;
    display: block !important;
}

.btn-next {
    background-color: darkorange !important;
    text-shadow: 0 1px 0 #fff;
    color: #fff;
    padding: 5px;
    width: 100px
}

.mat-horizontal-content-container.ng-tns-c100-0 {
    padding: 0px 0px 0px 0px !important;
}

.mat-button {
    padding: 5px !important;
}

@media (max-width: 700px) {
    .mat-horizontal-stepper-header-container {
        display: flow-root !important;
    }
}

.schedulle-container {
    display: block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.schedulle-container {
    flex-wrap: row;
    padding: 25px;
}

.mat-step-label {
    display: none !important;
}

.schedulle-item {
    padding: 5px;
    flex-wrap: wrap;
}

.schedulle-content {
    padding-bottom: 30px;
}

.elipse {
    background: #e64a19;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 136px;
    float: right;
    z-index: 100;
}