<div class="menu-org-detail" style="float: right;">
    <div class="menu-org-item">
        <div class="image-item">
            <img class="image-position" [src]="orgSelect._foto" *ngIf="orgSelect._isFoto; else fotoDefault" />
            <ng-template #fotoDefault><img class="image-position" src="{{imgDefault}}" /></ng-template>
        </div>
        <div class="data-item">

            <h3 class="title-item">{{orgSelect.nombre}}</h3>
            <p class="description-item">
                <u></u><br>
            </p>
            <div class="price-item">
                <span class="price-org">
                    <b></b>
                  </span>
                <button (click)="goShop()" class="buton-product">Ver productos</button>
            </div>
        </div>
    </div>
</div>