.example-small-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    height: 80px;
    width: 80px;
}


/* card-images*/

div.gallery {
    margin: 4px;
    border: 1px solid #ccc;
    float: left;
    width: 100%;
    border-radius: 10px;
    border-color: white;
    border: 1px solid whitesmoke;
    padding-bottom: 10px;
    opacity: 0.6;
    padding-right: 6px;
}

div.gallery:hover {
    border: 1px solid antiquewhite;
    box-shadow: 3px 3px 3px darksalmon;
    opacity: 1;
}

div.desc {
    padding: 10px;
    text-align: center;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
}

.text {
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
    background-color: cornsilk;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 10%;
}

@media only screen and (max-width: 800px) {
    .responsive {
        width: 45%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 50%;
    }
}

* {
    box-sizing: border-box;
}

button :hover {
    background-color: darkorange;
    opacity: 1;
}

img {
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40%;
    width: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    opacity: 0.5;
}