<mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[14.5]" [center]="positionMarker" [maxBounds]="[[-81.594163,-18.733253], [-68.608323, 0.479432]]">

    <mgl-control mglGeocoder [searchInput]="'Universidad Nacional Mayor de San Marcos'" [countries]="'pe'" [limit]="5" (result)="onGeocoder($event)"></mgl-control>

    <!--MARKER-->
    <mgl-marker *ngIf="estadoMarker" [lngLat]="positionMarker" [draggable]="true" (dragEnd)="onDragEnd($event)"></mgl-marker>
    <!--END MARKER-->

    <mgl-control mglGeolocate [positionOptions]="{
          enableHighAccuracy: true
        }" [trackUserLocation]="true" (geolocate)="onGeolocate($event)" position="top-right"></mgl-control>


    <mgl-control mglFullscreen position="bottom-right"></mgl-control>

</mgl-map>
<br>
<button mat-raised-button style=" width:32%" color="accent" (click)="closeMap()">Cancelar</button>

<button *ngIf="!estadoMarker" mat-raised-button style="margin-left: 2%; width: 32%" (click)="updateMarker()">Activar marker</button>

<button *ngIf="estadoMarker" mat-raised-button style="margin-left: 2%; width: 32%" (click)="updateMarker()">Desactivar marker</button>

<button mat-raised-button style="margin-left: 2%; width:32%" color="primary" [disabled]="!estadoMarker" (click)="save()">Guardar</button>