mgl-map {
    height: 100%;
    width: 100%;
    background-color: chartreuse;
}

.buton-product {
    background-image: linear-gradient(130deg, #ff9259 0, #ff2426 70%) !important;
    border-radius: 8px !important;
    border: 0.5px solid slategrey;
    font-family: Poppins-Regular, Helvetica, Arial, sans-serif !important;
    color: #fff !important;
    padding: 8.5px 14px !important;
    text-align: center !important;
    cursor: pointer !important;
}