<mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[14.5]" [center]="[-77.0824914,-12.0587117]" [maxBounds]="[[-81.594163,-18.733253], [-68.608323, 0.479432]]">


    <mgl-control mglGeocoder [searchInput]="'Universidad Nacional Mayor de San Marcos'" [countries]="'pe'" [limit]="5" (result)="onGeocoder($event)"></mgl-control>



    <!--MARKER-->
    <mgl-marker *ngIf="estadoMarker" [lngLat]="markerInicial" [draggable]="true" (dragEnd)="onDragEnd($event)"></mgl-marker>
    <!--END MARKER-->





    <mgl-control mglGeolocate [positionOptions]="{
          enableHighAccuracy: true
        }" [trackUserLocation]="true" (geolocate)="onGeolocate($event)" position="top-right"></mgl-control>




    <mgl-control mglFullscreen position="bottom-right"></mgl-control>
    <mgl-control mglNavigation position="bottom-right"></mgl-control>

</mgl-map>

<button mat-raised-button style="margin-left: 4px ;width: 32%" color="primary" (click)="crearEliminarMarker()">Establecer ubicacion</button>
<button mat-raised-button style="margin-left: 4px; width:32%" color="primary" [disabled]="!estadoMarker">Guardar</button>
<button mat-raised-button style="margin-left: 4px; width:32%" color="primary" (click)="cerrarMapa()">Cancelar</button>