.container{
  margin-top: 7px;
  margin-bottom: 7px;
  justify-content: center;
  width: 100%
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

b{
  font-family: 'Raleway', sans-serif;
}

p{
  display: inline-block;
}