<div class="container">
  <div *ngFor="let detail of data.orderDetail">
    <p style="width: 50%"><b>Producto:</b> {{ detail.product.name }}</p>
    <p><b>Precio:</b> S/. {{ detail.price | number: "1.0-2" }}</p>
    <p style="width: 50%"><b>Fecha de Atención:</b> {{ detail.attendDate | date: "dd/MM/yyyy HH:mm:ss" }}</p>
    <p *ngIf="detail.userAttend.nombre; else notExists"><b>Chef:</b> {{ detail.userAttend.nombre | titlecase }}
        {{ detail.userAttend.lastName | titlecase }}
      </p>
      <ng-template #notExists><b>Chef:</b> Sin asignar</ng-template>
    <hr />
    <br />
  </div>
</div>
