<div class="mat-parent">
    <h2>Listado de Categorias
        <button mat-raised-button color="accent" (click)="openDialog()"
            style="float: right;">
            Crear Categoria
          </button>
    </h2>
    <mat-divider></mat-divider>
    <div style="width: 100%">
      <div class="container">
        <div style="display: block; width: 95%">
          <mat-table
            [dataSource]="dataSource"
            matSort
            multiTemplateDataRows
            class="mat-elevation-z8"
          >
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="accent" (click)="openDialog(row)">
        <mat-icon>edit</mat-icon>
      </button>
                <button mat-icon-button color="accent" (click)="delete(row)">
        <mat-icon>delete</mat-icon>
      </button>
            </mat-cell>
        </ng-container>
  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns"
            ></mat-row>
          </mat-table>
  
          <mat-paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  