.title-component {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    margin-top: 0px;
    padding-top: 0px;
    width: 80%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: initial;
    justify-content: center;
    width: -webkit-fill-available;
}

table {
    width: 100%;
    
}

.example-form-field {
    width: 180px;
    padding-right: 20px;
}


.body-component {
    width: 80%;
    height: 80%;
    background-color: #ffff;
    display: flex;
}

.mat-header-cell{
    background-color:#E8794F;
    font-size: 120%;
    color: white;
  }
  
  .mat-row{
    font-size: 120%;
  }
  
  .mat-toolbar.title-component{
    background-color:#e64a19;
    color: white;
  }
  
  .mat-card:not([class*=mat-elevation-z]){
      width: 100%;
  }
