<div class="mat-parent">
    <h2>Listado de productos
        <button mat-raised-button color="accent" (click)="openDialog()"
            style="float: right;">
            Crear Producto
          </button>
    </h2>
    <mat-divider></mat-divider>
    <div style="width: 100%">
      <div class="container">
        <div style="display: block; width: 95%">
          <mat-table *ngIf="dataSource"
            [dataSource]="dataSource"
            matSort
            multiTemplateDataRows
            class="mat-elevation-z8"
          >
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div *ngIf="row.categoryProduct">{{row.categoryProduct.name}}</div>
                <div *ngIf="!row.categoryProduct">Sin categoria</div>
            </mat-cell>

        </ng-container>
            <ng-container matColumnDef="imageUrl">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <img width="50" height="50" [src]="row._foto" />

            </mat-cell>
            </ng-container>


        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="accent" (click)="openDialog(row)">
        <mat-icon>edit</mat-icon>
      </button>
                <button mat-icon-button color="accent" (click)="delete(row)">
        <mat-icon>delete</mat-icon>
      </button>
            </mat-cell>
        </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="openDialog(row)"
            ></mat-row>
          </mat-table>

          <mat-paginator
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
