.title-nav {
    width: 200px;
    padding: 0 1rem;
    margin: 1rem;
    display: block;
    margin-bottom: 10px;
}

table {
    width: 100%;
    display: block;
}

.mat-card {
    position: absolute !important;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: initial;
    justify-content: center;
    width: -webkit-fill-available;
}

.title-component {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    margin-top: 0px;
    padding-top: 0px;
    width: 80%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.mat-column-createDate {
    flex: 0 0 20% !important;
  }

.mat-column-quantity {
    flex: 0 0 10% !important;
  }
  
  .mat-column-total {
    flex: 0 0 10% !important;
  }

  .mat-column-phone {
    flex: 0 0 10% !important;
  }
  
  .mat-header-cell{
    background-color:#E8794F;
    font-size: 120%;
    color: white;
  }
  
  .mat-row{
    font-size: 120%;
  }
  
  .mat-toolbar.title-component{
    background-color:#e64a19;
    color: white;
  }