<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>Repartidor</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="($event ? selection.toggle(row) : null)" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cellPhone">
            <mat-header-cell *matHeaderCellDef> Telefono
                <div class="elipse" mat-dialog-close><span>X</span></div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cellPhone}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </mat-row>
    </mat-table>

    <div class="buttons" style="display: inline-block !important;">
        <button style="width: 100%;" mat-raised-button color="primary" (click)="asignarPedido()">
            Asignar Delivery
          </button>
    </div>
</div>