<div _ngcontent-gpp-c71="" class="ms-profile-overview">
    <div _ngcontent-gpp-c71="" class="ms-profile-cover"><img _ngcontent-gpp-c71="" [src]="companySelect._foto" alt="people" class="ms-profile-img">
        <div _ngcontent-gpp-c71="" class="ms-profile-user-info">
            <h4 _ngcontent-gpp-c71="" class="ms-profile-username text-white">{{companySelect.nombre}}</h4>
            <h2 _ngcontent-gpp-c71="" class="ms-profile-role">{{companySelect.description}}</h2>
        </div>

        <div _ngcontent-gpp-c71="" class="ms-profile-user-buttons">

            <p style="color:aliceblue">
                <mat-icon style="color:rgb(243, 243, 243)">access_time</mat-icon> {{companySelect.estimatedTime}} min</p>
        </div>
    </div>
    <mat-tab-group class="ms-profile-navigation nav nav-tabs tabs-bordered">
        <mat-tab>
            <ng-template mat-tab-label>
                <div (click)="redirectTo('Menu')">
                    <p style="color: darkorange !important; font-weight: 800;">
                        <mat-icon class="example-tab-icon">restaurant</mat-icon>
                        <span class="texto-menu">
                      Platillos
                    </span>
                    </p>
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab *ngIf="this.sharedService.userSession">
            <ng-template mat-tab-label>
                <div (click)="redirectTo('Favorites')">
                    <p style="color: darkorange !important; font-weight: 800;">
                        <mat-icon class="example-tab-icon">grade</mat-icon>
                        <span class="texto-menu">
                    Recurrentes
                  </span>
                    </p>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <div _ngcontent-gpp-c71="" class="tab-content">
        <div _ngcontent-gpp-c71="" id="tab1" class="tab-pane"></div>
        <div _ngcontent-gpp-c71="" id="tab2" class="tab-pane"></div>
        <div _ngcontent-gpp-c71="" id="tab3" class="tab-pane"></div>
    </div>

</div>