.campo{
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    border: none; 
    color: #000000; 
    font-weight: bold;
    font-size: 1em;
    resize: none;
    text-decoration-line: initial;
}

.area{

    resize: none;
}

.titulo{
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
    text-align: center;
    color: #dd4104;
    
}