.navbar-spacer {
    flex: 1 1 auto;
}

.navbar {
    z-index: 2;
    position: initial;
}

.navbar-brand {
    text-decoration: none;
    color: white;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-sidenav-content {
    --padding: 30px;
    padding: var(--padding);
    background-color: #F0F0FA;
}

.navbar-is-mobile .navbar {
    position: fixed;
    z-index: 2;
}

.navbar-sidenav-container {
    flex: 1;
}

.navbar-is-mobile .navbar-sidenav-container {
    flex: 1 0 auto;
}

mat-sidenav {
    min-width: 180px !important;
    border-right: 1px solid #eee;
    box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
}

.progress-bar-container {
    height: 5px;
}

a.mat-list-item.active {
    background: rgba(0, 0, 0, .04);
}

#push-bottom {
    position: absolute;
    bottom: 0;
}

.main-router>ng-component {
    width: 100%;
    padding: 30px;
}

.background-home>ng-component {
    background-image: url('/assets/images/dasboard.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    height: 100%;
}