<mat-form-field>

    <input matInput placeholder="Nombres" [(ngModel)]="userSelect.nombre">

</mat-form-field>
<br>
<mat-form-field>
    <input matInput placeholder="Apellidos" [(ngModel)]="userSelect.lastName" type="tel">
</mat-form-field>
<br>
<button mat-button onclick="document.getElementById('flArchivo').click();">Seleccionar Archvo</button>
<input id="flArchivo" type="file" (change)="selectFile($event)" style="display: none">
<br>
<img mat-card-image [src]="imagenData" *ngIf="imagenEstado" style="display: block; width:180px ;height:180px;margin: auto;" />
<p>{{labelFile}}</p>

<br>
<div style="float:right;">
    <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="save()">Aceptar</button>
    <button style="margin-left: 4px;" mat-raised-button color="accent" (click)="closeDialog()">Cancelar</button>
</div>