<p>
    <mat-toolbar class="title-component">
        <span>Preguntas frecuentes</span>

    </mat-toolbar>
</p>

<mat-form-field style="width: 100%;">
    <!-- Los datos ingresados lo guarda en la variable -->
    <input matInput placeholder="Tiempo de espera estimado" [(ngModel)]="companySelect.timeEstimatedProtocol">

</mat-form-field>
<br>
<div style=" height: 130px;">
    <mat-form-field class="custom-form" style="width: 100%;height: 100%;">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="7" placeholder="Protocolos de entrega" [(ngModel)]="companySelect.sendProtocol"></textarea>
        <!--<input type="tel">-->
    </mat-form-field>
</div>
<br>
<mat-form-field style="width: 100%;">
    <input matInput placeholder="Horarios de atencion" [(ngModel)]="companySelect.hourAttentionProtocol" type="tel">
</mat-form-field>
<br>
<mat-form-field style="width: 100%;  height: 120px;">
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="6" placeholder="Información adicional" matInput [(ngModel)]="companySelect.additionalInformationProtocol"></textarea>
    <!--<input type="tel">-->
</mat-form-field>
<br>

<div style="float:right;margin-top:15px">
    <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="save()">Aceptar</button>
    <button style="margin-left: 4px;" mat-raised-button color="accent" (click)="closeDialog()">Cancelar</button>
</div>