<div class="complete" fxLayout="column">
  <div
    class="container"
    fxFlex
    fxLayout="row"
    fxLayout.xs="column"
    fxFlex="100"
    fxLayout.lt-md="column"
  >
    <div class="div1" fxFlex="50" fxLayout="column">
      <span class="title-mayor">
        ¡Registra tu negocio!
        <br />
      </span>
      <span class="title-menor">
        Regístrate en simples pasos y empieza a hacer crecer tu negocio junto a
        nosotros.
      </span>
    </div>
    <div class="div2" fxFlex="40" fxLayoutAlign="center">
      <div class="form" fxLayoutAlign="center">
        <form
          autocomplete="off"
          [formGroup]="miFormulario"
          (ngSubmit)="createLocal()"
        >
          <h4>Registro de tu local</h4>
          <mat-divider></mat-divider>
          <div>
            <mat-label>Nombre del Local</mat-label>
            <br />
            <mat-form-field appearance="outline">
              <input matInput formControlName="localName" />
            </mat-form-field>
            <span class="validation" *ngIf="campoNoValido('localName')">
              El nombre es obligatorio
            </span>
            <br />
            <mat-label>Descripción del Local</mat-label>
            <br />
            <mat-form-field appearance="outline">
              <input matInput formControlName="localDescription" />
            </mat-form-field>
            <span class="validation" *ngIf="campoNoValido('localDescription')">
              La descripción es obligatoria
            </span>
            <br />
            <mat-label>Dirección del Local</mat-label>
            <br />
            <mat-form-field appearance="outline">
              <input matInput formControlName="localAddress" />
            </mat-form-field>
            <span class="validation" *ngIf="campoNoValido('localAddress')">
              La dirección es obligatoria
            </span>
            <br />
            <mat-label>Razón Social</mat-label>
            <br />
            <mat-form-field appearance="outline">
              <input matInput formControlName="businessName" />
            </mat-form-field>
            <span class="validation" *ngIf="campoNoValido('businessName')">
              La razón social es obligatoria
            </span>
            <br />
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="30px"
              fxLayoutGap.xs="0"
              fxLayoutGap.lt-md="0"
              fxLayout.lt-md="column"
            >
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>RUC</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput type="number" formControlName="ruc" />
                </mat-form-field>
                <span class="validation" *ngIf="campoNoValido('ruc')">
                  El RUC debe tener 11 dígitos
                </span>
                <br />
              </div>
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Tiempo Estimado</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    type="number"
                    formControlName="estimatedTime"
                  />
                </mat-form-field>
                <span class="validation" *ngIf="campoNoValido('estimatedTime')">
                  El tiempo es obligatorio
                </span>
                <br />
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="30px"
              fxLayoutGap.xs="0"
              fxLayoutGap.lt-md="0"
              fxLayout.lt-md="column"
            >
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Usuario</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput formControlName="userName" />
                </mat-form-field>
                <span class="validation" *ngIf="campoNoValido('userName')">
                  El Usuario debe ser de mínimo 5 dígitos
                </span>
                <br />
              </div>
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Contraseña</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput type="password" formControlName="password" />
                </mat-form-field>
                <span class="validation" *ngIf="campoNoValido('password')">
                  La contraseña debe ser de mínimo 5 dígitos
                </span>
                <br />
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="30px"
              fxLayoutGap.xs="0"
              fxLayoutGap.lt-md="0"
              fxLayout.lt-md="column"
            >
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Celular</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput type="number" formControlName="phone" />
                </mat-form-field>
                <span class="validation" *ngIf="campoNoValido('phone')">
                  Debe ser de 8 dígitos
                </span>
                <br />
              </div>
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Aniversario</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    type="date"
                    formControlName="aniversaryDate"
                  />
                </mat-form-field>
                <span
                  class="validation"
                  *ngIf="campoNoValido('aniversaryDate')"
                >
                  La fecha es obligatoria
                </span>
                <br />
              </div>
            </div>
            <mat-label>Responsable</mat-label>
            <br />
            <mat-form-field appearance="outline">
              <input matInput formControlName="responsable" />
            </mat-form-field>
            <span class="validation" *ngIf="campoNoValido('responsable')">
              El responsable es obligatorio
            </span>
            <br />
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="30px"
              fxLayoutGap.xs="0"
              fxLayoutGap.lt-md="0"
              fxLayout.lt-md="column"
            >
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Celular Responsable</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    type="number"
                    formControlName="responsablePhone"
                  />
                </mat-form-field>
                <span
                  class="validation"
                  *ngIf="campoNoValido('responsablePhone')"
                >
                  El celular es obligatorio
                </span>
                <br />
              </div>
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Email Responsable</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input
                    matInput
                    type="email"
                    formControlName="responsableEmail"
                  />
                </mat-form-field>
                <span
                  class="validation"
                  *ngIf="campoNoValido('responsableEmail')"
                >
                  {{ emailErrorMsg }}
                </span>
                <br />
              </div>
            </div>
            <button
              class="button-success"
              (click)="createLocal()"
              type="submit" style="margin-top: 15px;"
            >
              Comenzar
            </button>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container2">
    <h4>Pasos para comenzar</h4>
    <div
      class="cont2-box"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.lt-md="column"
      fxLayoutAlign="space-around center"
    >
      <div
        class="card"
        fxLayout="column"
        fxFlex="32"
        fxLayoutAlign="center center"
      >
        <img src="../../../../assets/images/fondos/icon-step-a.svg" />
        <h5>Primero, completa un sencillo formulario.</h5>
      </div>
      <div
        class="card"
        fxLayout="column"
        fxFlex="32"
        fxLayoutAlign="center center"
      >
        <img src="../../../../assets/images/fondos/icon-step-b.svg" />
        <h5>
          Luego, necesitamos que agregues <br />algunos datos y documentación de
          tu local.
        </h5>
      </div>
      <div
        class="card"
        fxLayout="column"
        fxFlex="32"
        fxLayoutAlign="center center"
      >
        <img src="../../../../assets/images/fondos/icon-step-c.svg" />
        <h5>
          Una vez que lo completes,
          <br />
          ¡ya estarás listo para que empecemos a trabajar juntos!
        </h5>
      </div>
    </div>
    <br />
  </div>
  <div class="container3" fxLayout="row" fxLayout.xs="column">
    <div class="izq" fxFlex="35" fxFlex.xs="100">
      <img src="../../../../assets/images/fondos/pedido.jpg" />
    </div>
    <div class="der" fxFlex="65" fxFlex.xs="100" fxHide.xs>
      <div class="ctr3" fxLayout="column" fxLayoutAlign="center">
        <div class="texto">
          <span style="margin-bottom: 30px"
            ><img src="../../../../assets/images/fondos/icon-check.svg" />Van a
            aumentar tus ventas.</span
          >
          <br /><br />
          <span
            ><img src="../../../../assets/images/fondos/icon-check.svg" />Va a
            mejorar la visibilidad de tu local.</span
          >
          <br /><br />
          <span
            ><img src="../../../../assets/images/fondos/icon-check.svg" />Vas a
            optimizar tu sistema de entrega a domicilio.</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="der" fxFlex="65" fxFlex.xs="100" fxShow.xs fxHide>
    <div class="ctr3" fxLayout="column" fxLayoutAlign="center">
      <div class="texto">
        <span style="margin-bottom: 30px"
          ><img src="../../../../assets/images/fondos/icon-check.svg" />Van a
          aumentar tus ventas.</span
        >
        <br /><br />
        <span
          ><img src="../../../../assets/images/fondos/icon-check.svg" />Va a
          mejorar la visibilidad de tu local.</span
        >
        <br /><br />
        <span
          ><img src="../../../../assets/images/fondos/icon-check.svg" />Vas a
          optimizar tu sistema de entrega a domicilio.</span
        >
      </div>
    </div>
  </div>
  <div class="container4">
    <h4>Te llega el pedido, preparas y entregas</h4>
    <div
      class="cont4-box"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.lt-md="column"
      fxLayoutAlign="space-around center"
    >
      <div
        class="card"
        fxLayout="column"
        fxFlex="25"
        fxLayoutAlign="center center"
      >
        <img src="../../../../assets/images/fondos/icon-peya-step-1.svg" />
        <h5>El cliente realiza un pedido a tu local desde PaLlevar.</h5>
      </div>
      <div
        class="card"
        fxLayout="column"
        fxFlex="25"
        fxLayoutAlign="center center"
      >
        <img src="../../../../assets/images/fondos/icon-peya-step-2.svg" />
        <h5>Recibes el pedido al instante.</h5>
      </div>
      <div
        class="card"
        fxLayout="column"
        fxFlex="25"
        fxLayoutAlign="center center"
      >
        <img src="../../../../assets/images/fondos/icon-peya-step-3.svg" />
        <h5>
          El repartidor retira el pedido en tu local y lo lleva al cliente.
        </h5>
      </div>
      <div
        class="card"
        fxLayout="column"
        fxFlex="25"
        fxLayoutAlign="center center"
      >
        <img src="../../../../assets/images/fondos/icon-peya-step-4.svg" />
        <h5>El cliente recibe el pedido.</h5>
      </div>
    </div>
    <div fxLayoutAlign="space-around center">
      <button
        class="button-success"
        style="width: 324px; margin-top: 15px"
        fxLayoutAlign="center center"
        (click)="goToTop()"
      >
        Quiero registrarme
      </button>
    </div>
  </div>
  <div class="container5">
    <h4>Conoce más</h4>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> ¿Cómo recibo los pedidos? </mat-panel-title>
        </mat-expansion-panel-header>

        <span>
          El repartidor se comunica contigo cuando esté cerca a tu domicilio
          para que puedas recibir tu pedido.
        </span>
      </mat-expansion-panel>
      <br />
    </mat-accordion>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            ¿Cómo es el proceso desde que entra un pedido?
          </mat-panel-title>
        </mat-expansion-panel-header>

        <span>
          Los pedidos ingresan a nuestro sistema en la cual se realiza el
          pedido, se confirma el pedido y se envía a un repartidor para que lo
          lleve a tu domicilio.
        </span>
      </mat-expansion-panel>
      <br />
    </mat-accordion>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> ¿Cómo gestiono mi local? </mat-panel-title>
        </mat-expansion-panel-header>

        <span>
          Para gestionar tu catálogo de productos, tus horarios de atención
          online y ver cómo se desempeña tu negocio, dispones de la plataforma
          PaLlevar. Esta herramienta es segura, fácil de usar y te permitirá
          controlar tu local con independencia. Además, te ofrecemos soporte las
          24 horas en el chat de Ayuda en Línea.
        </span>
      </mat-expansion-panel>
      <br />
    </mat-accordion>
  </div>
  <mat-divider></mat-divider>
  <div class="container6">
    <div class="cont6" fxLayoutAlign="end center">
      <div>
        <p>Siguenos en</p>
        <div class="logos">
          <a href="https://www.instagram.com/?hl=es" target="_blank"
            ><img src="../../../../assets/images/fondos/instagram.svg"
          /></a>
          &nbsp;
          <a href="https://twitter.com/home" target="_blank"
            ><img src="../../../../assets/images/fondos/twitter.svg"
          /></a>
          &nbsp;
          <a href="https://facebook.com" target="_blank"
            ><img src="../../../../assets/images/fondos/icon-facebook.svg"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
