<div class="complete" fxLayout="column">
  <div
    class="container"
    fxFlex
    fxLayout="row"
    fxLayout.xs="column"
    fxFlex="100"
    fxLayout.lt-md="column"
  >
    <div class="div1" fxFlex="50" fxLayoutAlign="center">
      <span>
        ¡Registra tu negocio!
        <br />
        <span class="title-menor">
          Regístrate en simples pasos y empieza a hacer crecer tu negocio junto
          a nosotros.
        </span>
      </span>
    </div>
    <div class="div2" fxFlex="50" fxLayoutAlign="center">
      <div class="form" fxLayoutAlign="center">
        <form autocomplete="off">
          <h4>Registro de tu local</h4>
          <mat-divider></mat-divider>
          <div>
            <mat-label>Nombre del Local</mat-label>
            <br />
            <mat-form-field appearance="outline">
              <input matInput />
            </mat-form-field>
            <mat-label>Descripción del Local</mat-label>
            <br />
            <mat-form-field appearance="outline">
              <input matInput />
            </mat-form-field>
            <mat-label>Dirección del Local</mat-label>
            <br />
            <mat-form-field appearance="outline">
              <input matInput />
            </mat-form-field>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="30px"
              fxLayoutGap.xs="0"
              fxLayoutGap.lt-md="0"
              fxLayout.lt-md="column"
            >
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>RUC</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput type="number" />
                </mat-form-field>
              </div>
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Razón Social</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput />
                </mat-form-field>
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="30px"
              fxLayoutGap.xs="0"
              fxLayoutGap.lt-md="0"
              fxLayout.lt-md="column"
            >
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Usuario</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput />
                </mat-form-field>
              </div>
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Contraseña</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput type="password" />
                </mat-form-field>
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="30px"
              fxLayoutGap.xs="0"
              fxLayoutGap.lt-md="0"
              fxLayout.lt-md="column"
            >
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Celular</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput type="number" />
                </mat-form-field>
              </div>
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Aniversario</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput type="date" />
                </mat-form-field>
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="30px"
              fxLayoutGap.xs="0"
              fxLayoutGap.lt-md="0"
              fxLayout.lt-md="column"
            >
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Estado</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput />
                </mat-form-field>
              </div>
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Tiempo Estimado</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput type="number" />
                </mat-form-field>
              </div>
            </div>
            <mat-label>Responsable de pago</mat-label>
            <br />
            <mat-form-field appearance="outline">
              <input matInput />
            </mat-form-field>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutGap="30px"
              fxLayoutGap.xs="0"
              fxLayoutGap.lt-md="0"
              fxLayout.lt-md="column"
            >
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Celular Responsable de Pago</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput type="number" />
                </mat-form-field>
              </div>
              <div fxFlex="47" fxFlex.lt-md="100">
                <mat-label>Email Responsable de Pago</mat-label>
                <br />
                <mat-form-field appearance="outline">
                  <input matInput type="email" />
                </mat-form-field>
              </div>
            </div>
            <button class="button-success">Comenzar</button>
            <br />
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container2">
    <h4>Pasos para comenzar</h4>
    <div class="cont2-box" fxLayout="row"
    fxLayout.xs="column"
    fxLayout.lt-md="column" fxLayoutAlign="space-around center">
      <div class="card" fxLayout="column" fxFlex="32" fxLayoutAlign="center center" >
        <img src="../../../../assets/images/fondos/icon-step-a.svg">
        <h5>Primero, completa un sencillo formulario.</h5>
      </div>
      <div class="card" fxLayout="column" fxFlex="32" fxLayoutAlign="center center" >
        <img src="../../../../assets/images/fondos/icon-step-b.svg">
        <h5>Luego, necesitamos que agregues <br>algunos datos y documentación de tu local.</h5>
      </div>
      <div class="card" fxLayout="column" fxFlex="32" fxLayoutAlign="center center" >
        <img src="../../../../assets/images/fondos/icon-step-c.svg">
        <h5>Una vez que lo completes,
          <br>
          ¡ya estarás listo para que empecemos a trabajar juntos!</h5>
      </div>
    </div>
    <br />
  </div>
  <div class="container3"></div>
</div>
