<!--menu del cliente final-->
<app-nav-home></app-nav-home>





<div class="background">

    <div class="login-container" fxLayout="row" fxLayoutAlign="center center">

        <mat-card class = "img">
            <mat-card>
                <img src='/assets/images/undrawbreakfastpsiw.svg'>
            </mat-card>
        </mat-card>

        <form [formGroup]="loginForm" fxFlex="30%" fxFlex.sm="60%" fxFlex.xs="90%">
            <mat-card>
                <mat-card-title style="text-align: center;">Login</mat-card-title>
                <mat-card-subtitle style="text-align: center;">Ingrese sus credenciales</mat-card-subtitle>
                <mat-card-content>

                    <mat-form-field class="full-width">
                        <input id="emailInput" matInput placeholder="Usuario" formControlName="email" autocomplete="email" type="email">

                        <mat-error id="invalidEmailError" *ngIf="loginForm.controls['email'].hasError('email')">
                            Please enter a valid user
                        </mat-error>
                        <mat-error id="requiredEmailError" *ngIf="loginForm.controls['email'].hasError('required')">
                            Usuario es
                            <strong>necesario</strong>
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input id="passwordInput" matInput placeholder="Password" formControlName="password" type="password" autocomplete="current-password">
                        <mat-error id="requiredPasswordError" *ngIf="loginForm.controls['password'].hasError('required')">
                            Contraseña es
                            <strong>necesario</strong>
                        </mat-error>
                    </mat-form-field>

                    <div class="full-width">
                        <mat-slide-toggle formControlName="rememberMe">Recordar mi usuario</mat-slide-toggle>
                    </div>

                </mat-card-content>

                
                    <button mat-raised-button style="display:block; border:none; width:100%; font-size:20px; margin-bottom: 10px" id="login" color="primary" [disabled]="loginForm.invalid || loading" (click)="login()">Iniciar sesión</button>
                    <button mat-raised-button style="display:block; border:none; width:100%; font-size:20px;" color="accent" routerLink="/auth/registry">Regístrate</button>
                

            </mat-card>

            <mat-progress-bar *ngIf="loading " mode="indeterminate "></mat-progress-bar>
        </form>
    </div>
</div>