.container {
    margin-top: 80px;
    margin-bottom: 10px;
}

.background {
    background-image: url('/assets/images/background1.jpg');
    background-position: center center;
    background-size: cover;
}