<div class="mat-parent">
    <p>
        <mat-toolbar class="title-component">
            <span>Buscar Pedido</span>

        </mat-toolbar>
    </p>

    <div class="body-component">
        <div class="carousel-item " style="display: flex;">

            <mat-card>
                <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Estado</mat-label>
                    <mat-select name="estado" [(ngModel)]="searchOrderByFieldsDTO.status">
                        <mat-option *ngFor="let e of estados" [value]="e">
                            {{e}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Delivery</mat-label>
                    <mat-select name="userDeliveryId" [(ngModel)]="DeliveryManSelect">
                        <mat-option *ngFor="let d of this.DeliveryManList" [value]="d">
                            {{d.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Chef</mat-label>
                    <mat-select name="chefId" [(ngModel)]="ChefSelect">
                        <mat-option *ngFor="let d of this.ChefList" [value]="d">
                            {{d.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Nro. Documento</mat-label>
                    <input matInput [(ngModel)]="searchOrderByFieldsDTO.userOrderDocumentNumber">
                </mat-form-field>

                <mat-form-field class="example-form-field">
                    <mat-label>Fecha Delivery Inicio</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="searchOrderByFieldsDTO.deliveryDateIni">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-form-field">
                    <mat-label>Fecha Delivery Final</mat-label>
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="searchOrderByFieldsDTO.deliveryDateFin">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-form-field">
                    <mat-label>Fecha Atencion Inicio</mat-label>
                    <input matInput [matDatepicker]="picker3" [(ngModel)]="searchOrderByFieldsDTO.attendDateIni">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-form-field">
                    <mat-label>Fecha Atencion Final</mat-label>
                    <input matInput [matDatepicker]="picker4" [(ngModel)]="searchOrderByFieldsDTO.attendDateFin">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="getAsignOrderByFields()">Buscar</button>
            </mat-card>
        </div>
    </div>


    <div class="carousel-item " style="display: flex; width: 80%;">

        <div class="container">
            <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="openDialogDetail(row)">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip mat-icon-button [ngStyle]="{ 'background-color':this.setColorStatus(row.status)}">
                                <span [ngStyle]="{color: row.status == 'Pendiente' || row.status == 'Cancelado'? 'white' : 'black'}">{{row.status}}</span></mat-chip>
                        </mat-chip-list>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="documentNumber">
                    <!-- HACE REFERENCIA AL CAPO DEL ARRAY DE displayedColumns-->
                    <mat-header-cell *matHeaderCellDef mat-sort-header> DNI </mat-header-cell>
                    <!-- NOMBRE DE LA COLUMNA-->
                    <mat-cell *matCellDef="let row" (click)="openDialogDetail(row)"> {{row.userOrder.documentNumber}}</mat-cell>
                    <!-- HACE REFERENCIA AL atributo DEL Objecto Producto-->
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="openDialogDetail(row)">{{row.userOrder.nombre}} {{row.userOrder.lastName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="openDialogDetail(row)">{{row.userOrder.address}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="openDialogDetail(row)">{{row.total}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="openDialogDetail(row)"> {{row.quantity }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="createDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creacion </mat-header-cell>
                    <mat-cell *matCellDef="let row" (click)="openDialogDetail(row)"> {{row.createDate | date:'dd/MM/yyyy HH:mm:ss' }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="opciones">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Detalles</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" (click)="openClientDetail(row)">
                            <span class="material-icons">account_circle</span>
                        </button>
                        <button *ngIf="row.status == 'En camino' || row.status == 'Entregado'" mat-icon-button color="primary" (click)="openDeliveryDetail(row)">
                            <span class="material-icons">moped</span>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        </div>
    </div>


</div>