<mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[14.5]" [center]="positionMarker" [maxBounds]="[[-81.594163,-18.733253], [-68.608323, 0.479432]]">

    <mgl-control mglGeocoder [countries]="'pe'" [limit]="8" (result)="onGeocoder($event)" class="mgl-Geocoder"></mgl-control>

    <mgl-control mglGeolocate [positionOptions]="{
        enableHighAccuracy: true
      }" [trackUserLocation]="true" (geolocate)="onGeolocate($event)" position="top-right"></mgl-control>

    <mgl-control mglFullscreen position="bottom-right"></mgl-control>

    <mgl-marker *ngIf="estadoMarker" [lngLat]="positionMarker" [draggable]="true" (dragEnd)="onDragEnd($event)"></mgl-marker>
    <mgl-marker *ngIf="!estadoMarker" [lngLat]="positionMarker" [draggable]="true" (dragEnd)="onDragEnd($event)"></mgl-marker>

</mgl-map>
<br>
<button mat-raised-button style="width: 33%" color="primary" (click)="updateMarker()">Centrar marcador</button>
<button mat-raised-button style="margin-left: 0.5%; width:33%" color="primary" (click)="actualizar()">Aceptar</button>
<button mat-raised-button style="margin-left: 0.5%; width:33%" color="accent" (click)="closeMap()">Cancelar</button>