<div class="mat-parent">
    <h2>Listado de Menús</h2>
    <mat-divider></mat-divider>
    <div style="width: 100%;">

        <div class="container">
            <div style="display: block; width: 95%;">
                <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="day">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Dia </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.day}}</mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                        <mat-cell *matCellDef="let row">
    
                            <button mat-icon-button color="primary" (click)="editar(row)">
                             <mat-icon>settings</mat-icon>
                        </button>
    
                            <button mat-icon-button color="primary" (click)="ver(row)">
                            <mat-icon>info </mat-icon>
                        </button>
    
                            <button mat-icon-button color="accent" (click)="delete(row)">
                            <mat-icon>delete </mat-icon>
                        </button>
    
    
                        </mat-cell>
                    </ng-container>
    
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
    
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
                <button mat-fab color="accent" style="float: right" routerLink="/menu/form" class="buton-product">
                <mat-icon>create</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>