.big-circle{
    width: 150px;
    height: 150px;
    filter: drop-shadow(2px 2px 6px black);
    border-radius: 50%;
    margin: auto;
    position: relative;
}
.small-circle{
    width: 165px;
    height: 140px;
    //border: 10px solid #8F7A77;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    //background-image: url("profile-image.jpg");
    background-position: center;
    background-size: cover;
}