<div style="display: flex;">
    <p style="margin-bottom: 40px; font-size: large;font-weight: bolder;">CAMBIAR ESTADO DE DISPONIBILIDAD</p>
    <button mat-icon-button class="close-dialog" (click)="cerrar()"><mat-icon>cancel</mat-icon></button>
</div>
<div style="text-align: center;">
    <div class="big-circle">
        <img class="small-circle" *ngIf="!dataEmployee._foto" src="assets/images/perfil/perfil.jpg">
        <img class="small-circle" *ngIf="dataEmployee._foto" [src]="data._foto">
        </div>
    <mat-form-field appearance="fill" >
        <mat-label>Estado/ Disponibilidad</mat-label>
        <mat-select [(value)]="dataEmployee.status">
            <mat-option value="DISPONIBLE">Disponible</mat-option>
            <mat-option value="OCUPADO">Ocupado</mat-option>
            <mat-option value="EN VACACIONES">En Vacaciones</mat-option>
        </mat-select>
    </mat-form-field>
</div>


<div style="text-align: center;">
    <button mat-raised-button color="primary" style="text-align: center;" (click)="CambiarEstadoDeliveryMan()">Aceptar cambios</button>
</div>