<p>
    CAMBIAR ESTADO DE DISPONIBILIDAD</p>

<mat-form-field appearance="fill">
    <mat-label>Estado/ Disponibilidad</mat-label>
    <mat-select [(value)]="dataEmployee.status">
        <mat-option value="DISPONIBLE">DISPONIBLE</mat-option>
        <mat-option value="OCUPADO">OCUPADO</mat-option>
        <mat-option value="NO DISPONIBLE">NO DISPONIBLE</mat-option>
    </mat-select>


</mat-form-field>

<div>
    <button mat-raised-button color="primary" (click)="change()">Finalizar</button>
</div>