.repartidor{
    background-color: blue;
    display:block;
    margin: 10px;
    border-radius: 25px;
    width: 350px;
}

.container{
    display: inline-flex;
    width: 100%;
}

.img{
    float: left;
}


.img img{
    width: 110px;
    height: 136px;
    border-radius: 10px 0 0 10px;
}


