

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');
.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
}

.title-component {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    margin-top: 0px;
    padding-top: 0px;
    width: 85%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background-color: rgb(255, 94, 0);
    color: white;
}

.mat-parent {
    margin-top: 0 !important;
}

.main-box {
    width: 300px;
    box-shadow: 2px 4px 2px 4px #b1adaca2; 
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
    background-color: white;
}

.big-circle {
    width: 150px;
    height: 150px;
    filter: drop-shadow(2px 2px 6px black);
    border-radius: 50%;
    margin: auto;
    position: relative;
}

.small-circle {
    width: 165px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    background-position: center;
    background-size: cover;
}

.heading-name {
    margin: 3px 0;
}

.heading-work {
    color: #ff5722;
    font-weight: 300;
    margin: 3px 0;
}

.info {
    padding: 0 20px;
    margin-bottom: 25px;
}

.follow_btn {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 1px 1px rgba(70, 224, 151, 0.65);
}

.follow_btn:hover {
    color: black;
    font-weight: 600;
}

.body-component {
    width: 85%;
    height: 80%;
    background-color: #ffff;
    display: flex;
}

.carousel-item {
    height: 596px;
    width: 100%;
    position: relative;
    background-color: white;
}

.example-full-width {
    padding-right: 25px;
}

.example-form-field {
    padding-right: 25px;
}