<div class="mat-parent">
    <p>
        <mat-toolbar class="title-component">
            <span>Lista de repartidores</span>
            <!--<button mat-raised-button color="primary" (click)="openDialog()"></button>-->
        </mat-toolbar>
    </p>
    <div class="carousel-item" style="display: flex; width: 80%;">
        <div class="container">

            <mat-table [dataSource]="dataSource" matSort>

                <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

                <!-- NOMBRE DE REPARTIDOR -->
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let delivery_man" > {{delivery_man.nombre}} {{delivery_man.lastName}} </mat-cell>
                </ng-container>

                <!-- USUARIO DE REPARTIDOR-->
                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de usuario </mat-header-cell>
                    <mat-cell *matCellDef="let delivery_man" > {{delivery_man.username}} </mat-cell>
                </ng-container>

                <!-- CÓDIGO DE REPARTIDOR -->
                <ng-container matColumnDef="employeeCode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Codigo de empleado </mat-header-cell>
                    <mat-cell *matCellDef="let delivery_man" > {{delivery_man.employeeCode}} </mat-cell>
                </ng-container>                

                <!-- ESTATUS DE REPARTIDOR -->
                <ng-container matColumnDef="status">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let delivery_man" > {{delivery_man.status}} </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

            
        </div>
    </div>
</div>