<div class="mat-parent">
    <p>
        <mat-toolbar class="title-component">
            <span>Listado de productos</span>

        </mat-toolbar>
    </p>
    <div class="body-component">
        <div style="border: 1px solid rgba(0,0,0,.2);" class="carousel-item " style="display: flex; width: 80%;">

            <div class="container">
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <mat-label>Producto</mat-label>
                        <input matInput placeholder="Ex. Pizza">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Estado</mat-label>
                        <input matInput placeholder="Ex. Pizza">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Tipo</mat-label>
                        <input matInput placeholder="Ex. Pizza">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Fecha inicio</mat-label>
                        <input matInput [matDatepicker]="picker1" [formControl]="">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Fecha final</mat-label>
                        <input matInput [matDatepicker]="picker2" [formControl]="">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <button mat-raised-button color="primary">Buscar</button>
                </form>




            </div>
        </div>
    </div>
</div>