/*

.example-form {
    min-width: 100px;
    max-width: 180px;
    width: 100%;
}

.example-full-width {
    width: 100%;
    padding-right: 25px;
    background-color: #ffff;
}

.title-component {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    margin-top: 0px;
    padding-top: 0px;
    width: 80%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.body-component {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    margin-top: 0px;
    padding-top: 0px;
    width: 80%;
    height: 80%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background-color: #ffff;
}

mat-form-field {
    background-color: #ffff !important;
}


*/



.title-nav {
    width: 200px;
    padding: 0 1rem;
    margin: 1rem;
    display: block;
    margin-bottom: 10px;
}

table {
    width: 100%;
    display: block;
}

.mat-card {
    position: absolute !important;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: initial;
    justify-content: center;
    //flex-direction: row;
    width: -webkit-fill-available;
}

.title-component {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    margin-top: 0px;
    padding-top: 0px;
    width: 80%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.mat-raised-button {
    margin-inline-start: auto;
}

.mat-parent {
    position: display;
}

.mat-dialog-container {
    width: 0px !important;
}
