<div class = "container">
    <div class="repartidor" *ngFor = "let repartidor of userDeliveryList">
        <!--
        <img *ngIf="toShow" mat-card-image [src]="imageData" alt="Photo of profile">
        <img *ngIf="!toShow" mat-card-image src="assets/images/perfil/perfil.jpg" alt="Photo of profile">
        -->
        <div>
            <div class="img">
                <img [src]="repartidor._foto" />
            </div>
            <div class="texto">
                <p>Nombre: {{repartidor.nombre}}</p>
                <p>Código Empleado: {{repartidor.employeeCode}}</p>
                <p>Celular: {{repartidor.cellPhone}}</p>
                <p>Username: {{repartidor.username}}</p>
                <p>Estado: {{repartidor.status}}</p>
            </div>
        </div>
        
        
        
    </div>
</div>