
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

<body>
    <div class="app-container">
        <div class="app-main">
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <section id="ventas">
                        <div class="row">
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content" style="background-color: #FFAB00;">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total ventas del dia</div>
                                            <div class="widget-subheading">Cantidad : {{dashboardData.quantityToday?dashboardData.quantityToday:0}}
                                            </div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white">
                                                <span>{{
                          dashboardData.salesToday? (dashboardData.salesToday | currency: "S/. "): 0 | currency: "S/. "
                        }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content" style="background-color:#E56235 ;">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">
                                                Total ventas dia anterior
                                            </div>
                                            <div class="widget-subheading">Cantidad : {{dashboardData.quantityYesterday ? dashboardData.quantityYesterday : 0}}</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white">
                                                <span>{{
                          dashboardData.salesYesterday? (dashboardData.salesYesterday| currency: "S/. "): 0 | currency: "S/. "
                        }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content bg-grow-early">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Variacion de ventas del día</div>
                                            <div class="widget-subheading">Cantidad : {{dashboardData.quantityVariationDay?(dashboardData.quantityVariationDay| number:'2.1-2'):0}} %
                                            </div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white">
                                                <span>{{
                          dashboardData.salesVariationDay? (dashboardData.salesVariationDay | number:'2.1-2'): 0}}
                          %</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content bg-premium-dark">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Ventas de la semana</div>
                                            <div class="widget-subheading">Cantidad : {{dashboardData.quantityThisWeek?dashboardData.quantityThisWeek:0}}
                                            </div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-warning">
                                                <span>{{
                          dashboardData.salesThisWeek? (dashboardData.salesThisWeek| currency: "S/. "): 0 | currency: "S/. "
                        }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content" style="background-color: #FF8A65;">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">
                                                Ventas de la semana pasada
                                            </div>
                                            <div class="widget-subheading">Cantidad : {{dashboardData.quantityLastWeek?dashboardData.quantityLastWeek:0}}
                                            </div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white">
                                                <span>{{
                          dashboardData.salesLastWeek? (dashboardData.salesLastWeek | currency: "S/. ") : 0 | currency: "S/. "
                        }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="card mb-3 widget-content" style="background-color: #388E3C;">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Diferencia</div>
                                            <div class="widget-subheading">Cantidad : {{dashboardData.quantityVariationWeek?dashboardData.quantityVariationWeek:0}} %</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white">
                                                <span>{{
                          (dashboardData.salesVariationWeek? (dashboardData.salesVariationWeek): 0 )}} %</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <section id="reportes">
                                <div class="mb-3 card">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="tab-eg-55">
                                            <div class="pt-2 card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="main-card mb-3 card">
                                                            <div class="card-header">
                                                                Ultimos pedidos
                                                                <div class="btn-actions-pane-right">
                                                                    <div role="group" class="btn-group-sm btn-group">

                                                                        <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
                                                                            <mat-button-toggle value="italic" (click)="getData('pendientes')">Pendientes
                                                                            </mat-button-toggle>
                                                                            <mat-button-toggle value="bold" (click)="getData('solicitados')">En camino
                                                                            </mat-button-toggle>
                                                                            <mat-button-toggle value="underline" (click)="getData('atendidos')">Entregado
                                                                            </mat-button-toggle>
                                                                        </mat-button-toggle-group>


                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <mat-accordion displayMode="flat" multi class="mat-table">
                                                                <section matSort class="mat-elevation-z2 mat-header-row">
                                                                    <span class="mat-header-cell" mat-sort-header="id">Id orden</span>
                                                                    <span class="mat-header-cell" mat-sort-header="lastName">Cliente</span>
                                                                    <span class="mat-header-cell" mat-sort-header="address">Dirección</span>
                                                                    <span class="mat-header-cell" mat-sort-header="quantity">Cantidad</span>
                                                                    <span class="mat-header-cell" mat-sort-header="total">Total</span>
                                                                    <span class="mat-header-cell" mat-sort-header="createDate">Fecha</span>
                                                                </section>

                                                                <mat-expansion-panel *ngFor="let item of orders">
                                                                    <mat-expansion-panel-header class="mat-row">
                                                                        <span class="mat-cell">{{item.id}}</span>
                                                                        <span class="mat-cell">{{item.userOrder.lastName}}</span>
                                                                        <span class="mat-cell">{{item.address}}</span>
                                                                        <span class="mat-cell">{{item.quantity}}</span>
                                                                        <span class="mat-cell">S/. {{item.total}}</span>
                                                                        <span class="mat-cell">{{item.createDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
                                                                    </mat-expansion-panel-header>
                                                                    <section matSort class="mat-elevation-z2 mat-header-row" style="background-color: bisque;">
                                                                        <span class="mat-header-cell" mat-sort-header="id">Id platillo</span>
                                                                        <span class="mat-header-cell" mat-sort-header="name">Platillo</span>
                                                                        <span class="mat-header-cell" mat-sort-header="price">Precio</span>

                                                                    </section>
                                                                    <div *ngFor="let orderDetail of item.orderDetail" class="mat-row" style="background-color: antiquewhite;">
                                                                        <span class="mat-cell">{{orderDetail.id}}</span>
                                                                        <span class="mat-cell">{{orderDetail.product.name}}</span>
                                                                        <span class="mat-cell">S/. {{orderDetail.price}}</span>

                                                                    </div>
                                                                </mat-expansion-panel>

                                                            </mat-accordion>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>