<div class="mat-parent">
    <p>
        <mat-toolbar class="title-component">
            <span>Nuevo menu</span>

        </mat-toolbar>
    </p>

    <div style="display: flex; width: 85%;">
        <mat-card>


            <mat-form-field class="example-form-field">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" [(ngModel)]="menuDaySelect.name">
                <button mat-button *ngIf="menuDaySelect.name" matSuffix mat-icon-button aria-label="Clear" (click)="menuDaySelect.name=''">
                      <mat-icon>close</mat-icon>
                    </button>
            </mat-form-field>


            <mat-form-field class="example-form-field">
                <mat-label>Descripcion</mat-label>
                <input matInput type="text" [(ngModel)]="menuDaySelect.description">
                <button mat-button *ngIf="menuDaySelect.description" matSuffix mat-icon-button aria-label="Clear" (click)="menuDaySelect.description=''">
                      <mat-icon>close</mat-icon>
                    </button>
            </mat-form-field>




            <form>

                <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Dia</mat-label>
                    <mat-select [(ngModel)]="menuDaySelect.day" name="dias">
                        <mat-option *ngFor="let d of dias" [value]="d">
                            {{d}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>



                <mat-form-field appearance="fill">
                    <mat-label>Tipo</mat-label>
                    <mat-select [(ngModel)]="menuDaySelect.type" name="tipos">
                        <mat-option *ngFor="let t of tipos" [value]="t">
                            {{t}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </form>


            <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
        </mat-card>
    </div>


</div>