.title-component {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    margin-top: 0px;
    padding-top: 0px;
    width: 85%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.example-form-field {
    width: 180px;
    padding-right: 20px;
}

//readio button
.example-radio-group {
    align-items: center;
}

.radio {
    padding-right: 5px;
}

//tabla
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: orangered;
    color: white;
}