<div class="mat-parent">
    <p>
        <mat-toolbar class="title-component">
            <span>Nuevo menu</span>

        </mat-toolbar>
    </p>

    <div style="display: flex; width: 85%;">
        <mat-card>

            <mat-form-field class="example-form-field">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" [(ngModel)]="menuDaySelect.name">
                <button mat-button *ngIf="menuDaySelect.name" matSuffix mat-icon-button aria-label="Clear" (click)="menuDaySelect.name=''">
                      <mat-icon>close</mat-icon>
                    </button>
            </mat-form-field>


            <mat-form-field class="example-form-field">
                <mat-label>Descripcion</mat-label>
                <input matInput type="text" [(ngModel)]="menuDaySelect.description">
                <button mat-button *ngIf="menuDaySelect.description" matSuffix mat-icon-button aria-label="Clear" (click)="menuDaySelect.description=''">
                      <mat-icon>close</mat-icon>
                    </button>
            </mat-form-field>

            <form style="display: inline;">

                <mat-form-field appearance="fill" class="example-form-field">
                    <mat-label>Dia</mat-label>
                    <mat-select [(ngModel)]="menuDaySelect.day" name="dias">
                        <mat-option *ngFor="let d of dias" [value]="d">
                            {{d}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo</mat-label>
                    <mat-select [(ngModel)]="menuDaySelect.type" name="tipos">
                        <mat-option *ngFor="let t of tipos" [value]="t">
                            {{t}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </form>

            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="menuDaySelect.status">
                <mat-radio-button class="example-radio-button" *ngFor="let e of estados" [value]="e">
                    {{e}}
                </mat-radio-button>
            </mat-radio-group>


            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Producto</mat-label>
                    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="itemSelected($event)">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

            </form>

            <mat-form-field class="example-form-field">
                <mat-label>Precio</mat-label>
                <input matInput type="text" [(ngModel)]="precio">
                <button mat-button *ngIf="precio" matSuffix mat-icon-button aria-label="Clear" (click)="precio=''">
                      <mat-icon>close</mat-icon>
                    </button>
            </mat-form-field>

            <mat-form-field class="example-form-field">
                <mat-label>Cantidad</mat-label>
                <input matInput type="text" [(ngModel)]="cant">
                <button mat-button *ngIf="cant" matSuffix mat-icon-button aria-label="Clear" (click)="cant=''">
                      <mat-icon>close</mat-icon>
                    </button>
            </mat-form-field>


            <button mat-raised-button color="primary" (click)="agregarProduct()">Agregar</button>



            <!--
            <span *ngFor="let p of menuDayProductList">
                    {{p.product.name+' '+p.price+' '+p.quantity}}
                </span>
-->







            <div *ngIf="menuDayProductList.length>0">

                <table>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let temp of menuDayProductList">
                        <td>{{temp.product.name}}</td>
                        <td> {{temp.price | currency :'USD'}}</td>
                        <td> {{temp.quantity }}</td>
                        <td><button (click)="remove(temp)" mat-raised-button color="accent">Remove</button> </td>
                    </tr>

                </table>
            </div>

            <br>
            <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
        </mat-card>
    </div>


</div>