<div class="categories">
    <mat-sidenav-container style="background-color:#ffff">

        <mat-nav-list>
            <div class="categories-item">
                <mat-list-item mat-list-item>
                    <a (click)="redirectTo('Menu')">
                        <p>
                            <mat-icon mat-list-icon>restaurant</mat-icon>Menu</p>
                    </a>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item mat-list-item>
                    <a (click)="redirectTo('Combo')">
                        <p>
                            <mat-icon mat-list-icon>fastfood</mat-icon>Combo</p>
                    </a>
                    <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item>
                    <a (click)="redirectTo('Promocion')">
                        <p>
                            <mat-icon mat-list-icon>pending_actions</mat-icon>Promo</p>
                    </a>
                </mat-list-item>

            </div>

        </mat-nav-list>
    </mat-sidenav-container>
</div>