<mat-sidenav-container>
    <div class="categories">
        <mat-list>
            <div class="title-categories">
                <mat-list-item>
                    <h3>Categorias</h3>
                </mat-list-item>
            </div>
            <div class="categories-item">
                <mat-divider></mat-divider>
                <mat-list-item><button class="buton-product" (click)="redirectTo('Menu')">Menu </button></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><button class="buton-product" (click)="redirectTo('Combo')">Combo </button>
                    <mat-divider></mat-divider>
                </mat-list-item>
                <mat-list-item><button class="buton-product" (click)="redirectTo('Promocion')">Promo </button>
                </mat-list-item>

            </div>
        </mat-list>

    </div>
</mat-sidenav-container>