.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.background {
    background-image: url('/assets/images/3007244.jpg');
    background-position: center center;
    background-size: cover;
}