<div class="mat-parent">
    <p>
        <mat-toolbar class="title-component">
            <span>Listado de ordenes</span>

        </mat-toolbar>
    </p>
    <div class="carousel-item " style="display: flex; width: 80%;">

        <div class="container">
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                </ng-container> 

                <ng-container matColumnDef="address">
                    <!-- HACE REFERENCIA AL CAPO DEL ARRAY DE displayedColumns-->
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </mat-header-cell>
                    <!-- NOMBRE DE LA COLUMNA-->
                    <mat-cell *matCellDef="let row"> {{row.address}}</mat-cell>
                    <!-- HACE REFERENCIA AL atributo DEL Objecto Producto-->
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.quantity}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="total">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.total}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="createDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.createDate}}</mat-cell>
                </ng-container>


                


               

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></mat-row>
            </mat-table>

            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


            
        </div>
    </div>
</div>