<form class="example-form">
    <p>
        <mat-toolbar class="title-component">
            <span>Detalle del Usuario</span>
  
        </mat-toolbar>
    </p>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="this.data.userOrder.nombre" name="nombre" readonly>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="this.data.userOrder.lastName" name="apellido" readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Direccion</mat-label>
        <input matInput [(ngModel)]="this.data.userOrder.address" name="address" readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width" >
        <mat-label>Telefono</mat-label>
        <input matInput [(ngModel)]="this.data.userOrder.cellPhone" name="cellPhone" readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width" >
        <mat-label>DNI</mat-label>
        <input matInput [(ngModel)]="this.data.userOrder.documentNumber" name="documentNumber" readonly>
      </mat-form-field>
      <mat-form-field class="example-full-width" >
        <mat-label>Fecha Creacion</mat-label>
        <input matInput [(ngModel)]="this.fecha" name="employeeCode" readonly>
      </mat-form-field>

  <div class="parent">
  
    <button style="margin-left: 4px; width: 90%;" mat-raised-button color="accent" (click)="closeDialog()">Cerrar</button>
  </div>
    
    
  </form>