.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 200px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-column-select {
    overflow: visible;
  }
  
  .mat-column-price {
    flex: 0 0 20% !important;
  }

  .mat-column-select {
    flex: 0 0 20% !important;
  }

  .mat-header-cell{
    background-color:#E8794F;
    font-size: 100%;
    color: white;
  }
