.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 200px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-column-select {
    overflow: visible;
  }
  
  .mat-column-price {
    flex: 0 0 20% !important;
  }

  .mat-column-select {
    flex: 0 0 20% !important;
  }

  .mat-header-cell{
    background-color:#E8794F;
    font-size: 100%;
    color: white;
  }

  .elipse {
    background-color: #e4e6eb;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 14px;
    cursor: pointer;
    float: right;
    margin-left: 30px;
}
