        * {
            padding: 0;
            margin: 0;
        }
        
        html,
        body {
            height: 100%;
            position: relative;
        }
        
        p {
            font-size: 20px;
            margin-left: 5px;
            justify-content: center;
            align-items: center;
            display: flex;
            color: red($color: #000000);
        }
        
        .toolbar2 {
            padding-left: 10px;
            padding-right: 10px;
            background-color: darkorange;
            border-color: darkorange;
            height: 4rem;
            position: fixed;
            z-index: 100;
        }
        
        .sign-in {
            color: darkorange;
            padding-left: 3px;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        
        .example-spacer {
            flex: 1 1 auto;
        }
        
        @import url(https://fonts.googleapis.com/css?family=Erica+One);
        h1 {
            cursor: default;
            position: relative;
            top: 0px;
            left: 0;
            outline: none;
            right: 0;
            bottom: 0;
            height: 100px;
            margin: auto;
            display: flex;
            padding-left: 0px;
            // -webkit-animation: bounce .3s ease infinite alternate;
            font-family: 'Erica One', cursive, Arial, Helvetica, sans-serif;
            font-size: 50px;
            color: firebrick;
            text-align: initial;
            line-height: 50px;
            text-shadow: 0 1px 0 #CCC, 0 2px 0 #CCC, 0 3px 0 #CCC, 0 4px 0 #CCC, 0 5px 0 #CCC, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, .6);
        }
        /* ANIMATION */
        /* @-webkit-keyframes bounce {
    100% {
        top: -10px;
        text-shadow: 0 1px 0 azure, 0 2px 0 azure, 0 3px 0 azure, 0 4px 0 azure, 0 5px 0 azure, 0 6px 0 azure, 0 7px 0 azure, 0 8px 0 azure, 0 9px 0 azure, 0 30px 30px rgba(0, 0, 0, .3);
    }
} */
        /* Style para barra desplegable*/
        /* Style The Dropdown Button */
        
        .dropdown {
            position: relative;
            display: block;
        }
        /* Dropdown Content (Hidden by Default) */
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            z-index: 0;
        }
        /* Links inside the dropdown */
        
        .dropdown-content a {
            padding: 10px 0px;
            text-decoration: none;
            display: flex;
            text-align: center;
            justify-content: center;
            color: darkorange;
        }
        /* Change color of dropdown links on hover */
        
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }
        /* Show the dropdown menu on hover */
        
        .dropdown:hover .dropdown-content {
            display: block;
            color: darkorange;
            height: auto;
        }
        
        .mat-button {
            font-size: 20px !important;
        }
        
        .toolbar3 {
            height: auto;
            background-color: azure;
            padding-top: 70px;
        }
        
        .mat-toolbar-row,
        .mat-toolbar-single-row {
            box-sizing: content-box;
        }

        .example-form {
            min-width: 150px;
            max-width: 500px;
            height: 44px;
            width: 30%;
            
            line-height: 44px;
            background: #f4f4f4;
            color: #ff441f;
            text-shadow: 0 0 0 #7d7d7d;
            font-size: 16px;
            border-radius: 15px;
            border: 2px solid black;
          }

        #form-control {
            position: relative;
            display: inline-block;
            font-size: 15px;
            box-sizing: .5s;
            background: #fff;
            width: 250px;
            height: 30px;
            border: none;
            outline: none;
            padding: 0 25px;
            border-radius: 25px 0 0 25px;
            margin-bottom: 5px;
        }