<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar><img src="assets/images/icondelivery.jpg" width="128" class="icon"></mat-toolbar>
      <div class="cuerporec">
      <mat-nav-list>
        <br><br><br><br><br>
        <h3 class="opciones">Mis Opciones</h3>
        <a class="opc" mat-list-item routerLink="../mostrar">Mostrar Pedidos</a>
        <a class="opc" mat-list-item routerLink="../listar">Listar Pedidos</a>
      </mat-nav-list>
     </div> 
       
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        
        <span>Pa Llevar</span>
          <button class="menu" mat-menu-item (click)="openUserPerfil()">
              <mat-icon>account_box</mat-icon>
              <span>Mi Perfil</span>
         </button>
          <button class="menu1" mat-menu-item (click)="sidenav.opened = false" (click)="loginService.cerrarSesion()">
             <mat-icon>exit_to_app</mat-icon>
             <span>Cerrar Sesión</span>
          </button>
      </mat-toolbar>
      <!-- Add Content Here -->
        
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  