<mat-toolbar class="toolbar2">
    <h1 style="text-align: center;justify-content: center;">PALLEVAR.PE</h1>
</mat-toolbar>
<mat-toolbar class="toolbar3">

    <button mat-icon-button color="primary" routerLink="/index">
        <mat-icon style="width: 30px; padding-left: 0px;">home</mat-icon>
    </button>


    <div id="ocultar">
        <input id="form-control" type="search" placeholder="Buscar platillo" aria-label="Search" #buscarPlatillo>
        <button id="btn-outline-success" type="button" (click)="showDish(buscarPlatillo.value)">Buscar</button>
    </div>




    <!--

        <form class="example-form" action="">

            <input class="searchDish" type="text" placeholder="ingrese el platillo a buscar"  matInput/>
            <mat-autocomplete>
                <mat-option *ngFor="let dish of dishes" >
                </mat-option>
            </mat-autocomplete>


        </form>

        <button mat-icon-button class="searchDishButton" routerLink="/platillo" (click)="showDish()">BUSCAR</button>
    -->






    <div class="example-spacer"></div>


    <!--carrito-->
    <button mat-icon-button color="primary" (click)="openDialogCar()">
        <mat-icon  matBadge="{{cantidad > 0 ? cantidad: ''}}" matBadgeColor="primary">shopping_cart</mat-icon>
    </button>

    <!--No esta logueado-->
    <div *ngIf="!logueado" style="margin-right: 20px;">
        <button routerLink="/auth/login" mat-button color="primary" (click)="ocultarSearchBar()">
        Iniciar Sesion
        </button>
    </div>

    <!--Esta logueado-->
    <div *ngIf="logueado">
        <!--mat-fab-->
        <!--mat-icon-button-->
        <!-- <button mat-icon-button [matMenuTriggerFor]="beforeMenu" color="primary" style="margin-right: 20px;padding-right: 30px;"> -->
        <!-- <mat-icon>account_circle</mat-icon> -->
        <div class="elipse" [matMenuTriggerFor]="beforeMenu"><span>{{(user.nombre.toUpperCase()) | slice: 0:1 }}</span></div>
        <!-- </button> -->

        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="openPerfil()">Mi Perfil</button>
            <button mat-menu-item (click)="openPedidos()">Mis Pedidos</button>
            <button mat-menu-item (click)="openEditar()">Editar Perfil</button>
            <button mat-menu-item (click)="cerrar()">Cerrar Sesion</button>
        </mat-menu>
    </div>

</mat-toolbar>