<mat-toolbar class="toolbar2">
    <h1 routerLink="/index" style="text-align: center;justify-content: center;">PALLEVAR.PE</h1>
</mat-toolbar>
<mat-toolbar class="toolbar3">

    <button mat-icon-button color="primary" routerLink="/index">
        <mat-icon style="width: 30px; margin-left: 30px;">home</mat-icon>
    </button>

    <div class="example-spacer"></div>


    <!--carrito-->
    <button mat-icon-button color="primary" (click)="openDialogCar()">  <mat-icon>shopping_cart</mat-icon></button>

    <!--No esta logueado-->
    <div *ngIf="!logueado" style="margin-right: 20px;">
        <button routerLink="/auth/login" mat-button color="primary">
        Iniciar Sesion
        </button>
    </div>

    <!--Esta logueado-->
    <div *ngIf="logueado">
        <!--mat-fab-->
        <!--mat-icon-button-->
        <button mat-icon-button [matMenuTriggerFor]="beforeMenu" color="primary">
            <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="openPerfil()">Mi Perfil</button>
            <button mat-menu-item (click)="openPedidos()">Mis Pedidos</button>
            <button mat-menu-item (click)="openEditar()">Editar Perfil</button>
            <button mat-menu-item (click)="cerrar()">Cerrar Sesion</button>
        </mat-menu>
    </div>

</mat-toolbar>