<!--<mat-card class="mat-parent">
   
    <div class="carousel-item" style="display: flex; width: 50%;">
      
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../assets/images/sucursales_imagen/macdonad2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Sucursal Macdonald 1</h4>
                        <p>Sucursal que se encuentra en la Av. Lima 494949,
                            <br>El encargado de esta tienda es : Ruben Gilberto
                            <br>El telefono principal de la sucursal es: 987654321

                        </p>
                        <button mat-raised-button color="primary">Ingresar</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../assets/images/sucursales_imagen/macdonald.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Sucursal Macdonald 1</h4>
                        <p>Sucursal que se encuentra en la Av. Lima 494949,
                            <br>El encargado de esta tienda es : Ruben Gilberto
                            <br>El telefono principal de la sucursal es: 987654321

                        </p>
                        <button mat-raised-button color="primary">Ingresar</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../assets/images/sucursales_imagen/macdonal3.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Sucursal Macdonald 1</h4>
                        <p>Sucursal que se encuentra en la Av. Lima 494949,
                            <br>El encargado de esta tienda es : Ruben Gilberto
                            <br>El telefono principal de la sucursal es: 987654321

                        </p>
                        <button mat-raised-button color="primary">Ingresar</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
      
    </div>
  
</mat-card>
-->


<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>