<mat-card class="mat-parent">
    <!-- <div class="carousel-inner" align="center" role="listbox">


        <div class="carousel-item" style="display:flex; width: 15%;">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                            <button mat-raised-button color="primary">Primary</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                            <button mat-raised-button color="primary">Primary</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                            <button mat-raised-button color="primary">Primary</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
-->


    <div class="carousel-item" style="display: flex; width: 50%;">
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../assets/images/sucursales_imagen/macdonad2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Sucursal Macdonald 1</h4>
                        <p>Sucursal que se encuentra en la Av. Lima 494949,
                            <br>El encargado de esta tienda es : Ruben Gilberto
                            <br>El telefono principal de la sucursal es: 987654321

                        </p>
                        <button mat-raised-button color="primary">Ingresar</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../assets/images/sucursales_imagen/macdonald.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Sucursal Macdonald 1</h4>
                        <p>Sucursal que se encuentra en la Av. Lima 494949,
                            <br>El encargado de esta tienda es : Ruben Gilberto
                            <br>El telefono principal de la sucursal es: 987654321

                        </p>
                        <button mat-raised-button color="primary">Ingresar</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../assets/images/sucursales_imagen/macdonal3.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Sucursal Macdonald 1</h4>
                        <p>Sucursal que se encuentra en la Av. Lima 494949,
                            <br>El encargado de esta tienda es : Ruben Gilberto
                            <br>El telefono principal de la sucursal es: 987654321

                        </p>
                        <button mat-raised-button color="primary">Ingresar</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!--
    <div class="carousel-item">
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Card 2</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <button mat-raised-button color="primary">Primary</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Card 2</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <button mat-raised-button color="primary">Primary</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card">
                <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="card-body">
                        <h4 class="card-title">Card 2</h4>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <button mat-raised-button color="primary">Primary</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>


</mat-card>

<!--/*for mobile and small  devices 
<mat-card class="mat-parent-small">
    <mat-card class="example-card">
        <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <button mat-raised-button color="primary">Primary</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <button mat-raised-button color="primary">Primary</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <button mat-raised-button color="primary">Primary</button>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card class="example-card">
        <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <button mat-raised-button color="primary">Primary</button>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <img mat-card-image src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p>Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <button mat-raised-button color="primary">Primary</button>
            </div>
        </mat-card-content>
    </mat-card>


-</mat-card>
-->