<mat-toolbar class="title-component">
    <span>Mis pedidos pendientes</span>

</mat-toolbar>

<div class="container">
    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="companyName">
            <mat-header-cell *matHeaderCellDef> Restaurant </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.companyName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-header-cell fxFlex="150px" *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
            <mat-cell style="width:120px;" fxFlex="150px" *matCellDef="let row">
                {{row.createDate | date:'dd/MM/yyyy HH:mm:ss'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Costo total </mat-header-cell>
            <mat-cell *matCellDef="let row"> S/. {{row.total}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad total </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.quantity}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let row">

                <mat-chip-list aria-label="Fish selection">
                    <mat-chip mat-icon-button>{{row.status}}</mat-chip>
                </mat-chip-list>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="detail">
            <mat-header-cell *matHeaderCellDef>Detalles ,Modificar </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="openDialog(row)">
          <mat-icon>fastfood</mat-icon>
        </button>
                <button class="color" mat-icon-button (click)="editarPedido(row)">
            <mat-icon>description</mat-icon>
        </button>
                <button *ngIf="row.status=='Pendiente'" mat-icon-button (click)="cancelOrder(row)">
            <mat-icon>cancel</mat-icon> 
                  </button>
            </mat-cell>

        </ng-container>
        <ng-container matColumnDef="message">
            <mat-header-cell *matHeaderCellDef> Enviar Reclamo o Comentario </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button class="button" mat-icon-button color="primary" (click)="sendMessage(row)">
          <mat-icon>message</mat-icon>
        </button>
        </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>