<!--<h1 mat-dialog-title>
    Seleccionar ubicacion</h1>
-->
<app-mapa-cliente></app-mapa-cliente>
<!--
<div mat-dialog-content>

    
    <form [formGroup]="form" (ngSubmit)="enviarOrden()" #frmUsuario="ngForm">

        <mat-form-field style="margin:auto">
            <input matInput placeholder="Direccion" formControlName="address" [formGroup]="form" required>
        </mat-form-field>
        <br>
        
        <button style="width:100%; height:100%" mat-raised-button (click)="abrirMapa()" color="orange">Ubicacion Exacta</button>
       
        <br>
        <mat-form-field>
            <input matInput placeholder="Referencia" formControlName="reference" [formGroup]="form" required>

        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Telefono" formControlName="phone" [formGroup]="form" required>
        </mat-form-field>
        <br>
        <button style="float: right;" mat-raised-button color="primary" type="submit" [disabled]="frmUsuario.invalid">Registrar</button>
    </form>

</div>-->