<h1 mat-dialog-title class="titulo">
    {{title}}</h1>
<h3 style="text-align: center;">{{ubicacion}}</h3>
<br>
<button style="width: 100%;" mat-raised-button (click)="abrirMapa()" color="orange">Ubicacion Exacta</button>
<br>
<br>
<div mat-dialog-content>

    <form [formGroup]="form" (ngSubmit)="enviarOrden()" #frmUsuario="ngForm">

        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Direccion" formControlName="address" [formGroup]="form" required>
        </mat-form-field>


        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Referencia" formControlName="reference" [formGroup]="form" required>

        </mat-form-field>


        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Telefono" formControlName="phone" [formGroup]="form" required>
        </mat-form-field>

        <button style="width: 100%;" mat-raised-button color="primary" type="submit" [disabled]="frmUsuario.invalid">{{buttonTitle}}</button>
    </form>

</div>