<mat-form-field>
    <input matInput placeholder="Titulo" [(ngModel)]="complaintSelect.titulo" readonly>

</mat-form-field>
<br>
<mat-form-field>
    <textarea matInput rows="5" placeholder="Descripcion" [(ngModel)]="complaintSelect.description" readonly></textarea>
</mat-form-field>
<br>
<mat-form-field>
    <input matInput placeholder="Fecha del reclamo" [(ngModel)]="this.fecha" name="fecha" readonly>

</mat-form-field>
<br>


<div>
   
    <input id="flArchivo" type="file" (change)="selectFile($event)" style="display: none">
    <br>
    <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" style="display: block; width:180px ;height:180px;margin: auto;" />
    <p>{{labelFile}}</p>
    <br>
</div>
<br>