<div class="card-container">
    <div class="card u-clearfix">
      <div class="card-body">
        <span class="card-number card-circle subtle">{{complaintSelect.id}}</span>
        <h3 class="card-title">{{complaintSelect.titulo}}</h3>
        <span class="card-description subtle">{{complaintSelect.description}}</span>
        <br>
        <br>
        <div class="card-read">{{this.fecha}}</div>
      </div>
      <img  class="card-media" [src]="imagenData" *ngIf="imagenEstado"/>
      <div >
        <button style="margin-left: 4px;margin-top:20px;float:right; width: 25%;" mat-raised-button color="accent" (click)="closeDialog()">Cerrar</button>
      </div>
    </div>
    <div class="card-shadow"></div>

</div>