.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.example-header-image {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}