* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.fondo {
    background-color: #F9F9F8; 
}

.app-container {
    transition: all .3s ease;
    width: 100%;
    @media only screen and (max-width: 1280px), screen and (orientation: portrait) {
        max-width: 1240px;
        width: 100%;
    }
}

.title-company {
    font-family: Poppins-SemiBold, Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: -.83px;
    color: #332927;
    margin: 5px 12px 2px 20px;
}

.menu-bodycat {
    background-color: #ffff !important;
    max-width: 1560px;
    padding: 2px 2px;
    margin-top: 20px;
    display: auto;
    float: left;
    width: 12%;
    margin-left: 10px;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.menu-container {
    width: auto;
    height: 100%;
    border-radius: 8px;
    margin: 20px;
}

.restaurant-info {
    margin: 10px 30px;
    transition: .3s;
    display: flex;
    align-items: initial;
    justify-content: initial;
    flex-direction: row;
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    background-color: #fff !important;
}

.f-headline {
    font-family: Poppins-SemiBold, Helvetica, Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    flex-direction: column;
}

.restaurant-image {
    width: 100%;
    max-width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px 8px 15px 15px;
    background-size: cover;
}

.menu-body {
    padding: 3px 0px;
    margin-top: 20px;
    width: 100%;
    display: auto;
    float: left;
    background-color: #ffff !important;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.restaurant-data {
    display: flex;
    align-items: initial;
    justify-content: initial;
    flex-direction: column;
}

.menuProduct-container {
    display: flow-root;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    .card {
        flex: 0 0 10px;
        margin: 10px;
        width: auto;
    }
    @media screen and (min-width:300px) and (max-width:600px) {
        .menuProduct-container {
            display: none;
        }
    }
}

mat-divider {
    border: none;
}

.p-card-product {
    border-bottom: 0.8px solid #DCDCDC;
    padding-bottom: 8px;
    margin-left: 14px;
    font-size: 1.5rem;
    color: #FA7268 !important;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}