<div class="fondo">
    <div class="app-container">
        <div class="menu-container">
            <div class="menu-body">
                <div *ngFor="let empresa of ListaEmpresaConProductos">
                    <div *ngIf="empresa._organization != undefined">
                        <div *ngIf="!sharedService.loading" class="menuProduct-container">
                            <p class="f-headline" class="p-card-product"><strong>{{empresa._organization.businessName}}</strong></p>
                            <div *ngFor="let menuDayProduct of empresa._listOfProductsShowed" style="float:left">
                                <div class="card" >
                                    <app-card-product-new [menuProduct]="menuDayProduct"></app-card-product-new>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>