/*.menu-product-detail {
    //display: flex;
    // align-items: initial;
    //justify-content: flex-start;
    //flex-direction: row;
    flex: 0 0 200px;
    position: relative;
    margin: 20px 0;
    height: 100%;
    
    //border: 0.5px solid slategrey;
    border-radius: 15px;
    padding: 4px;
    padding-right: 10px;
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    .menu-product-item {
        display: flex;
        align-items: initial;
        justify-content: flex-start;
        flex-direction: row;
        width: 100%;
        .image-item {
            margin-right: 20px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            min-width: 106px;
            .image-position {
                max-width: 106px;
                max-height: 106px;
                border-radius: 15px 0px 0px 15px;
                height: 100%;
            }
        }
        .data-item {
            min-width: 180px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: initial;
            justify-content: space-between;
            flex-direction: column;
            // background-color: sandybrown;
            .title-item {
                margin: 0;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: normal;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100%;
                color: #332927;
                margin-bottom: 2px;
            }
            .description-item {
                margin-top: 0;
                line-height: 1.33;
                display: block;
                display: -webkit-box;
                max-width: 100%;
                height: auto;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .price-item {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;
                .price-product {
                    margin: auto;
                    left: 100%;
                    padding: 0;
                    line-height: 1;
                    font-size: 100%;
                    vertical-align: baseline;
                    font-family: Poppins-SemiBold, Helvetica, Arial, sans-serif !important;
                    color: #332927 !important;
                }
                .buton-product {
                    background-image: linear-gradient(130deg, #ff9259 0, #ff2426 70%) !important;
                    border-radius: 8px !important;
                    border: 0.5px solid slategrey;
                    font-family: Poppins-Regular, Helvetica, Arial, sans-serif !important;
                    color: #fff !important;
                    padding: 8.5px 14px !important;
                    text-align: center !important;
                    cursor: pointer !important;
                }
            }
        }
    }
}
*/

.card-product {
    background-color: #fff;
    // border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    margin-bottom: 2px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
    .card-body {
        position: relative;
        padding: 0.5rem;
        font-size: 14px;
        .card-title {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .buton-product {
                margin-top: 0px;
                background-image: linear-gradient(130deg, #ff9259 0, #ff2426 70%) !important;
                border-radius: 8px !important;
                border: 0.5px solid slategrey;
                font-family: Poppins-Regular, Helvetica, Arial, sans-serif !important;
                color: #fff !important;
                padding: 5.5px 7px !important;
                text-align: center !important;
                cursor: pointer !important;
                font-size: 12px;
            }
        }
    }
}

h6 {
    font-size: 16px;
}