.example-small-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}

.example-small-box {
    height: 80px;
    width: 80px;
}


/* card-images*/

div.gallery {
    margin: 4px;
    border: 1px solid #ccc;
    float: left;
    width: 100%;
    border-radius: 40px;
    border-color: white;
    border: 1px solid whitesmoke;
    padding-bottom: 20px;
    opacity: 0.6;
}

div.gallery:hover {
    border: 1px solid antiquewhite;
    box-shadow: 2px 2px 2px darksalmon;
    opacity: 1;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
}

.text {
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
    background-color: cornsilk;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 45%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

button :hover {
    opacity: 1;
    text-align: center;
}

.detalles {
    font-size: 13px;
}

img {
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 10%;
    width: 100%;
    align-items: center;
    display: flex;
    text-align: center;
    opacity: 0.5;
}

mat-expansion-panel {
    background-color: aliceblue;
}

mat-expansion-panel-header {
    background-color: aliceblue;
}

.detalles {
    margin: 0;
    padding: 0;
}

.example-spacer {
    flex: 1 1 auto;
}