<div class="menu-product-detail">
    <div class="menu-product-item">
        <div class="image-item">
            <img class="image-position" [src]="menuSelect.product._foto" *ngIf="menuSelect.product._isFoto" />
        </div>
        <div class="data-item">

            <h3 class="title-item">{{menuSelect.product.name}}</h3>

            <p class="description-item">
                <u>{{menuSelect.product.categoryProduct.name}}</u><br> {{menuSelect.product.description}}
            </p>
            <div class="price-item">
                <span class="price-product">
                  <b>  S/. {{menuSelect.price}}</b>
                </span>
                <button (click)="agregarCarrito()" class="buton-product">Agregar</button>
            </div>
        </div>
    </div>
</div>
