.fondo {
    background-image: url('/assets/images/menu.jpg');
    position: inherit;
}

.app-container {
    transition: all .3s ease;
    width: 100%;
    min-height: 900px;
    //padding-left: 20px;
    //padding-right: 20px;
    margin: 0px;
    @media only screen and (max-width: 1280px), screen and (orientation: portrait) {
        max-width: 1240px;
        width: 100%;
    }
}

.title-company {
    font-family: Poppins-SemiBold, Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: -.83px;
    color: #332927;
    margin: 5px 12px 2px 20px;
}

.menu-bodycat {
    border-radius: 8px;
    background-color: #fff !important;
    max-width: 1560px;
    padding: 2px 2px;
    margin-top: 20px;
    display: auto;
    float: left;
    width: 12%;
    margin-left: 10px;
    min-width: 200px;
}

.menu-container {
    //width: 1200px;
    width: auto;
    height: 100%;
    //background-color: #F9F9F8 !important;
    border-radius: 8px;
    margin: 20px;
}

.restaurant-info {
    margin: 0px 30px;
    //width: 100%;
    transition: .3s;
    display: flex;
    align-items: initial;
    justify-content: initial;
    flex-direction: row;
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 8px;
    //border: 4px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    background-color: #fff !important;
}

.f-headline {
    font-family: Poppins-SemiBold, Helvetica, Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 0;
}

.restaurant-image {
    width: 100%;
    max-width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px 8px 15px 15px;
    background-size: cover;
}

.menu-body {
    border-radius: 8px;
    max-width: 1560px;
    padding: 3px 20px;
    margin-top: 20px;
    width: auto;
    margin-left: 14px;
    display: auto;
    float: left;
    height: initial;
    background-color: #fff !important;
    //height: 70%;
}

.restaurant-data {
    display: flex;
    align-items: initial;
    justify-content: initial;
    flex-direction: column;
}

.menuProduct-container {
    display: flex;
    //justify-content: space-between;
    //flex-direction: row;
    flex-wrap: wrap;
    //align-items: stretch;
    justify-items: stretch;
    margin: auto;
    .card {
        flex: 0 0 200px;
        margin: 10px;
        justify-items: stretch;
        width: auto;
    }
    @media screen and (min-width:300px) and (max-width:600px) {
        .menuProduct-container {
            display: none;
        }
    }
}

.menu-category {
    margin: 4px;
}

mat-divider {
    border: none;
}