<div class="fondo">
    <div class="app-container">
        <div class="restaurant-info">
            <div class="restaurant-image">
                <img class="restaurant-image" [src]="companySelect._foto" *ngIf="companySelect._isFoto" />
                <!--   <ng-template #fotoDefault><img class="image-position" src="{{imgDefault}}" /></ng-template>-->
            </div>
            <div class="restaurant-data title-company">
                <H1>{{this.companySelect.nombre}}</H1>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="menu-container">
            <div class="menu-bodycat">
                <div class="menu-category">
                    <app-sidebar></app-sidebar>
                </div>
            </div>
            <div class="menu-body">
                <h2 class="f-headline">Precios y platillos</h2>
                <mat-divider></mat-divider>
                <div class="menuProduct-container">
                    <div *ngFor="let menuDayProduct of menuProductList">
                        <div class="card">
                            <app-card-product [menuProduct]="menuDayProduct"></app-card-product>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>